#input{
	width:600px;
	padding: 2px 4px;
	height: 22px;
	border: 1px solid #aaa;
	z-index: 20;
	position:absolute;
	left:8px;
	background-color: transparent;
}

#input1{
	width:600px;
	padding: 2px 4px;
	height: 22px;
	border: 1px solid #aaa;
	position:absolute;
	left:8px;
	z-index: 10;
	color: blue;
}
#result{
	width:598px;
	border:1px solid #aaa;
	display:none;
	border-top-width: 0;
	position: absolute;
	top:35px;
}
#result div {
    width: 590px;
    padding: 2px 4px;
    text-align: left;
    border: 0;
    background-color: white;    
}
.result_focus {
    background-color: #DDD !important;
}